<body>

  <h2>List of Places I'd like to Visit (Rating 1–10)</h2>

  <ul>
    <% places.forEach(function(place) { %>
      <li>
        <%= place.name %> : <%= place.rating %>
      </li>
    <% }); %>
  </ul>

  <p style="text-align: right; margin-top: 40px;">
    <strong>Assigned by: <%= myname %></strong>
  </p>

</body>